<div class="container">
  <h2>date possibilities</h2>
  <div class="row">
    <div ng-repeat="dateNight in dateNightsIndex.all" class="col-md-4 dates-content">
      <a ui-sref="dateNightsShow({ id: dateNight.id })"><h3>{{ dateNight.nameOfDate }}</h3></a>
      <p ng-show="dateNight.cinema.film"><h4 class="subheader">We Watched...</h4><strong>{{ dateNight.cinema.film }} at {{ dateNight.cinema.name }}</strong></p>
      <p ng-show="dateNight.restaurant.name"> <h4 class="subheader">We ate at...</h4><strong>{{ dateNight.restaurant.name }}</strong></p>
    </div>
  </div>
</div>
